#b{font-size:large; }
#men > a{display:block; padding:15px; color:white; font-family:sans-serif; font-size:small; text-decoration:none; background-color:orange; }
#men > a:hover{background-color:orange; } 
#c{ font-size:77px; }
#d{ margin-left:88px; }