#b{margin-left:50px; border-color:black; border-size:2px; font-size:large;background-image:url(wall3.jpg) }
#a{border-size:2px; background-image:url(wall7.jpg);}
#c{border-size:2px; background-image:url(wall5.jpg); padding:30px 40px 50px 60px;}
#d{margin-left:50px; border-color:black; border-size:2px; font-size:large;background-image:url(wall6.jpg);padding:10px 20px 30px 40px; }